div(class='ed-container bottom-space')
	div(class='ed-item')
		h2 Technical Skills
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li HTML5
			li CSS, SASS
			li Bootstrap
			li Flex, CSS Grid
			li Email Development
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li ES6
			li Ajax, Api Rest, Axios
			li Git 
			li Gulp, Webpack
			li Node JS, Express
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li Photoshop
			li Adobe XD
			li Balsamic, Figma
			li React, Redux, Next JS
			li Scrum
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li Fire Base
			li Php (Laravel Blade)
			li Jira
			li Asana
			li PWA
