div(class='ed-container bottom-space')
	div(class='ed-item')
		h2 Technical Skills
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li HTML5
			li CSS3, SASS
			li Photoshop Suite
			li UX Design
			li Email Development
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li ES6
			li Ajax, Api Rest
			li Git
			li Node JS, 
			li React, Redux, Next JS
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li Salesforce Email Dev
			li Fire Base
			li Php (Laravel Blade)	
			li PWA
			li Gulp, Webpack
	div(class='ed-item m-50 l-25')
		ul(class="feature-list no-marging")
			li Scrum
			li Jira
			li Asana
			li .NET
			li SQL					
			
