div(class='ed-container')
	div(class='ed-item')
		h2 Work Experience
section.l-section.diagonal-section
	.ed-grid.cols-l-12.diagonal-section__content
		div.span-l-2
		div.home-users.span-l-9
			// Presentaci贸n
			.talk-break.l-section.third
				.talk__hour August 2021 <br> Currently
				span Assemble Studio

			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Front End, Banners, and Email Developer.
					p 
						|My role is creation and maintenance of Email Campaigns, Banners, and landing Pages, Websites for the different clients of the company	
						br
						br
						|Collaborate with the design department to implement and improve the UX practices and implementing my coding practices as company standards.
						br
						br
						|Collaborate with the design department to implement and improve the UX practices and implementing my coding practices as company standards
						br
						br
					p <strong>For clients as</strong>: Ikea, Maven, Spectrum Science, Karma, Coemira  	
					ul(class="feature-list no-marging")
						li Develop and maintenance Email Campaigns, Banners, and landing Pages, Web Sites, forms and other interfaces.
						li All is created from scratch using creative files provided for the Design Department.

			// Presentaci贸n
			.talk-break.l-section
				.talk__hour July 2020 <br> July 2021
				span Accenture

			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Web Developer Senior Analyst.
					p 
						|My role is creation and maintenance of Email Campaigns, Banners, and landing Pages, Websites for the different clients of the company	
						br
						br
						|Collaborate with the design department to implement and improve the UX practices and implementing my coding practices as company standards.
						br
						br
						|Collaborate with the design department to implement and improve the UX practices and implementing my coding practices as company standards
						br
						br
					p <strong>For clients as</strong>: Citibank.
					ul(class="feature-list no-marging")
						li Develop and maintenance Email Campaigns, Banners, and landing Pages, Web Sites, forms and other interfaces.
						li All is created from scratch using creative files provided for the Design Department.
						li Work in the requirements stage, UX and UI design, and creation of Wireframes, mockups, and layout the different projects.
						li Work with Dynamic Data using Salesforce.
			

			// Coffe break
			.talk-break.l-section.second
				.talk__hour Feb 2016 <br> Oct 2018
				span Prime Ideas

			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Front End Developer.
					p 
						|My role is creation and maintenance of Banners, and landing Pages, Websites for the different clients of the company	
						br
						br
						|Collaborate with the design department to implement and improve the UX practices and implementing my coding practices as company standards.
						br
						br
						|Collaborate with the design department to implement and improve the UX practices and implementing my coding practices as company standards
						br
						br
						|There I developed multiple websites for sports-books and casinos Making integrations with the back end team consuming the APIs and diferent web services
						br
						br
						|There I developed multiple interfaces and integrations for an online payment engine and Interactive Sportsbook betting application.
						br
						br
					p <strong>Projects as</strong>: MyBookie Website, MYBCasino, Bet Engine Cashier 
					ul(class="feature-list no-marging")
						li Develop and maintenance landing Pages, Web Sites, forms and other interfaces.
						li All is created from scratch using creative files provided for the Design Department.
						li Consuming the BackEnd to show the Dynamic information
						li Work in the requirements stage, UX and UI design, and creation of Wireframes, mockups, and layout the different projects.

			// Premiaci贸n
			.talk-break.l-section.third
				.talk__hour July 2012 <br> Oct 2015
				span Experian Marketing Services
			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Front End and Email Developer.
					p 
						|My role is creation and maintenance of Email Campaigns, Banners, and landing Pages, Websites for the different clients of the company	
						br
						br
						|Collaborate with the design department to implement and improve the UX practices and implementing my coding practices as company standards.
						br
						br
						|Collaborate with the design department to implement and improve the UX practices and implementing my coding practices as company standards
						br
						br
					p <strong>For clients as</strong>: Citibank USA, Wells Fargo, Ann Tylor,  Sport Chalet, Stein Mart  	
					ul(class="feature-list no-marging")
						li Develop and maintenance Email Campaigns, Banners, and landing Pages, Web Sites, forms and other interfaces.
						li All is created from scratch using creative files provided for the Design Department.
						li Work in the requirements stage, UX and UI design, and creation of Wireframes, mockups, and layout the different projects.
			// Premiaci贸n
			.talk-break.l-section
				.talk__hour June 2008 <br> June 2011
				span Colegio Universitario Boston
			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 Technology Instructor and Manager
					p I worked as an instructor of web technologies and as a manager of the academic department. 
						|I directed a teaching team of about 20 professors, I developed academic programs focused on 
						|technology which gave significant economic growth to the company. I also participated in radio 
						|and television commercials where we promoted the different technical programs that I developed. 

						
