div(class='ed-container')
	div(class='ed-item')
		h2 Work Experience
section.l-section.diagonal-section
	.ed-grid.cols-l-12.diagonal-section__content
		div.span-l-2
		div.home-users.span-l-9
			// Presentación
			.talk-break.l-section.third
				.talk__hour July 2020 <br> Currently
				span Accenture

			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 &nbspWeb Developer Senior Analist
					p I am Senior Email Developer and my role is creating Email Campaigns using Salesforce as main tool and
						| my daily tasks include create emails from scratch, create Data Extension for the Dynamic Information, 
						| troubleshooting and provide maintenaince for live campaigns.

			// Presentación
			.talk-break.l-section
				.talk__hour Nov 2018 <br> Currently
				span TrigalMedia

			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 &nbspWeb Developer (Personal Entrepreneurship)
					p I am a trainer at CyberU and Colegio Boston teaching about Web Development. 
						|I was in charge of developing end to end the website for AsesoresPyme and Cyber U, this included 
						| doing design and development stage and maintenance post production.			

			// Coffe break
			.talk-break.l-section.second
				.talk__hour Feb 2016 <br> Oct 2018
				span Prime Ideas

			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 &nbspFront End Dev
					p At Prime Ideas I develop for betting sites. My responsibilities included working in the requirements stage, 
						|UX and UI design, creation of white frames, mockups and layout. I implemented my development practices as company standards.

			// Premiación
			.talk-break.l-section.third
				.talk__hour July 2012 <br> Oct 2015
				span Experian Marketing Services
			// Charla 1 - Jon
			.talk.l-section
				.talk__hour
				.talk__info
					h3 &nbspFront End and Email Developer
					p At Experian I developed web sites and emails for marketing campaings. My responsibilities 
						|included working in the UI development stage. We receive mockups from the design department to be implemented by us, 
						| I gave training to new developers and other departments.
